.container {
    display: flex;
    flex-wrap: wrap;
}

.newDiv {
    width: 100px;
    height: 100px;
    margin: 5px;
    background-color: black;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.divId {
    color: white;
    display: none;
}
